@font-face {
    font-family: CaviarDreams_Italic;
    src: url(https://cdn.rawgit.com/ol1001/fcc_calculator/master/css/fonts/CaviarDreams_Italic.ttf);
}
body {
    font-family: 'Average Sans', sans-serif;
    background: radial-gradient( #fff 40%, #c8c8c8);
}

.calculator {
    width: 320px;
    height: 548px;
    margin: 10% auto;
    background-color: #3e3e3e;
    padding: 8px;
    border-radius: 2px;
    color: #333;
}
.title {
    font-family: CaviarDreams_Italic, 'Average Sans', sans-serif;
    padding: 0 8px 0 0 ;
    position: absolute;
    height: 40px;
    line-height: 32px;
    background-color: #3e3e3e;
    color: #fff;
    border-bottom-right-radius: 4px;
}
.outputContainer {
    height: 140px;
    width: 304px;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 8px;
    overflow: hidden;
}
.outputContainer p {
    font-family: CaviarDreams_Italic;
    max-width: 300px;
    font-size: 2em;
    float: right;
    margin: 70px 0 0 0;
}
.keysContainer {
    height: 400px;
    width: 320px;
    margin-top: 8px;
    font-size: 1.6em;
    border-radius: 4px;
    overflow: hidden;
}

.keysContainer span:hover {
    opacity: 0.85;
}

.row {
    width: 320px;
}

.row span {
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
}

.numberKey {
    background-color: mediumpurple;
    color: #fff;
}

.operationKey {
    background-color: #73dbc2;
}

.resetKey {
    background-color: #fff;
}

span.resultKey {
    background-color: tomato;
    width: 240px;
}
